<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.base.spring.test.pojo.Person">
        <property name="id" value="1"/>
        <property name="name" value="zhangsan"/>
    </bean>
    <bean id="myInit" class="com.base.spring.section_1_8_1.beampostprocessor.InstantiationTracingBeanPostProcessor">
    </bean>
    <bean id="myPP" class="com.base.spring.section_1_8_1.beampostprocessor.MyBeanFactoryPP"/>


</beans>